._2E9Y8A{color:inherit;font-size:inherit;margin:-4px;max-width:unset;vertical-align:baseline}._8vlbIg ._2E9Y8A{margin:-8px}.WoE5Nw{display:flex}.xMm41w{grid-row-gap:16px;box-sizing:border-box;display:grid;grid-template-areas:"header" "content" "footer";grid-template-columns:minmax(0,1fr);grid-template-rows:auto 1fr auto;height:100%;padding:0}.Tuu4Ew{grid-area:header}._0bPs_Q{grid-area:content}.oc_U2A{grid-area:footer}@media (min-width:600px){.xMm41w{height:auto}}
/*# sourceMappingURL=sourcemaps/fa3fb504fdf0aaea.ltr.css.map*/